<div class="site-nav">
  <div class="site-nav__icons">
    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}">
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0016 0C8.57297 0 5.77026 2.80271 5.77026 6.2313C5.77026 9.6599 8.57297 12.4626 12.0016 12.4626C15.4302 12.4626 18.2329 9.6599 18.2329 6.2313C18.2329 2.80271 15.4302 0 12.0016 0Z" fill="#0F265B"/>
<path d="M22.6955 17.442C22.5323 17.0339 22.3146 16.6529 22.0697 16.2992C20.818 14.4488 18.8861 13.2243 16.7092 12.925C16.4371 12.8978 16.1378 12.9522 15.9201 13.1155C14.7772 13.959 13.4167 14.3944 12.0017 14.3944C10.5867 14.3944 9.22616 13.959 8.0833 13.1155C7.86559 12.9522 7.56627 12.8706 7.29418 12.925C5.11731 13.2243 3.15814 14.4488 1.93366 16.2992C1.68877 16.6529 1.47106 17.0611 1.30783 17.442C1.22622 17.6053 1.2534 17.7958 1.33502 17.9591C1.55273 18.34 1.82481 18.721 2.06971 19.0475C2.45064 19.5645 2.85882 20.0271 3.32142 20.4624C3.70236 20.8434 4.13773 21.1971 4.57314 21.5509C6.72278 23.1564 9.30783 23.9998 11.9745 23.9998C14.6412 23.9998 17.2262 23.1563 19.3759 21.5509C19.8112 21.2244 20.2466 20.8434 20.6276 20.4624C21.0629 20.0271 21.4983 19.5645 21.8793 19.0475C22.1514 18.6937 22.3963 18.34 22.614 17.9591C22.75 17.7958 22.7772 17.6053 22.6955 17.442Z" fill="#0F265B"/>
</svg>

        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    {%- if settings.search_enable -%}
      <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header{% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.63817 0.502441C3.69695 0.502441 0.501954 3.69744 0.501953 7.63866C0.501953 11.5799 3.69695 14.7749 7.63817 14.7749C11.5794 14.7749 14.7744 11.5799 14.7744 7.63866C14.7744 3.69744 11.5794 0.502441 7.63817 0.502441ZM14.5719 12.762C14.0622 13.4491 13.4554 14.0576 12.7688 14.568L18.1107 20.9266C18.8199 21.7709 20.1465 21.7063 20.9262 20.9266C21.7058 20.147 21.7704 18.8204 20.9262 18.1112L14.5719 12.762Z" fill="#0F265B"/>
</svg>

        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {%- endif -%}

    {%- if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'left-drawer' -%}
      <button
        type="button"
        class="site-nav__link site-nav__link--icon js-drawer-open-nav{% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' %} medium-up--hide{% endif %}"
        aria-controls="NavDrawer">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><title>icon-hamburger</title><path d="M7 15h51M7 32h43M7 49h51"/></svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {%- endif -%}

    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
      <span class="cart-link">
        {%- if settings.cart_icon == 'cart' -%}
     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_260_380)">
<path d="M22.2433 2.18184H4.36362C4.30978 2.18184 4.26063 2.20209 4.21016 2.21727L3.7707 0.773131C3.63094 0.313875 3.20733 0 2.72726 0H0.545472C0.244227 0 0 0.244227 0 0.545472V1.63636C0 1.93761 0.244227 2.18184 0.545472 2.18184H1.91925L5.32729 13.3812L4.05445 14.8662C3.55137 15.4531 3.32484 16.2617 3.55638 16.9992C3.85251 17.9424 4.68496 18.5454 5.64474 18.5454H21.2727C21.574 18.5454 21.8182 18.3012 21.8182 18V16.9091C21.8182 16.6078 21.574 16.3636 21.2727 16.3636H5.64469L7.37377 14.3464C7.41723 14.2956 7.44919 14.2384 7.48218 14.1818H18.0522C18.8977 14.1818 19.667 13.6935 20.027 12.9286L23.8333 4.84032C23.9425 4.60754 24 4.3492 24 4.09296V3.93847C24 2.96837 23.2135 2.18184 22.2433 2.18184Z" fill="#0F265B"/>
<path d="M6.54512 23.9999C7.75011 23.9999 8.72695 23.0231 8.72695 21.8181C8.72695 20.6131 7.75011 19.6362 6.54512 19.6362C5.34012 19.6362 4.36328 20.6131 4.36328 21.8181C4.36328 23.0231 5.34012 23.9999 6.54512 23.9999Z" fill="#0F265B"/>
<path d="M19.6359 23.9999C20.8409 23.9999 21.8178 23.0231 21.8178 21.8181C21.8178 20.6131 20.8409 19.6362 19.6359 19.6362C18.4309 19.6362 17.4541 20.6131 17.4541 21.8181C17.4541 23.0231 18.4309 23.9999 19.6359 23.9999Z" fill="#0F265B"/>
</g>
<defs>
<clipPath id="clip0_260_380">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>

        {%- elsif settings.cart_icon == 'bag-minimal' -%}
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_260_380)">
<path d="M22.2433 2.18184H4.36362C4.30978 2.18184 4.26063 2.20209 4.21016 2.21727L3.7707 0.773131C3.63094 0.313875 3.20733 0 2.72726 0H0.545472C0.244227 0 0 0.244227 0 0.545472V1.63636C0 1.93761 0.244227 2.18184 0.545472 2.18184H1.91925L5.32729 13.3812L4.05445 14.8662C3.55137 15.4531 3.32484 16.2617 3.55638 16.9992C3.85251 17.9424 4.68496 18.5454 5.64474 18.5454H21.2727C21.574 18.5454 21.8182 18.3012 21.8182 18V16.9091C21.8182 16.6078 21.574 16.3636 21.2727 16.3636H5.64469L7.37377 14.3464C7.41723 14.2956 7.44919 14.2384 7.48218 14.1818H18.0522C18.8977 14.1818 19.667 13.6935 20.027 12.9286L23.8333 4.84032C23.9425 4.60754 24 4.3492 24 4.09296V3.93847C24 2.96837 23.2135 2.18184 22.2433 2.18184Z" fill="#0F265B"/>
<path d="M6.54512 23.9999C7.75011 23.9999 8.72695 23.0231 8.72695 21.8181C8.72695 20.6131 7.75011 19.6362 6.54512 19.6362C5.34012 19.6362 4.36328 20.6131 4.36328 21.8181C4.36328 23.0231 5.34012 23.9999 6.54512 23.9999Z" fill="#0F265B"/>
<path d="M19.6359 23.9999C20.8409 23.9999 21.8178 23.0231 21.8178 21.8181C21.8178 20.6131 20.8409 19.6362 19.6359 19.6362C18.4309 19.6362 17.4541 20.6131 17.4541 21.8181C17.4541 23.0231 18.4309 23.9999 19.6359 23.9999Z" fill="#0F265B"/>
</g>
<defs>
<clipPath id="clip0_260_380">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
        {%- else -%}
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_260_380)">
<path d="M22.2433 2.18184H4.36362C4.30978 2.18184 4.26063 2.20209 4.21016 2.21727L3.7707 0.773131C3.63094 0.313875 3.20733 0 2.72726 0H0.545472C0.244227 0 0 0.244227 0 0.545472V1.63636C0 1.93761 0.244227 2.18184 0.545472 2.18184H1.91925L5.32729 13.3812L4.05445 14.8662C3.55137 15.4531 3.32484 16.2617 3.55638 16.9992C3.85251 17.9424 4.68496 18.5454 5.64474 18.5454H21.2727C21.574 18.5454 21.8182 18.3012 21.8182 18V16.9091C21.8182 16.6078 21.574 16.3636 21.2727 16.3636H5.64469L7.37377 14.3464C7.41723 14.2956 7.44919 14.2384 7.48218 14.1818H18.0522C18.8977 14.1818 19.667 13.6935 20.027 12.9286L23.8333 4.84032C23.9425 4.60754 24 4.3492 24 4.09296V3.93847C24 2.96837 23.2135 2.18184 22.2433 2.18184Z" fill="#0F265B"/>
<path d="M6.54512 23.9999C7.75011 23.9999 8.72695 23.0231 8.72695 21.8181C8.72695 20.6131 7.75011 19.6362 6.54512 19.6362C5.34012 19.6362 4.36328 20.6131 4.36328 21.8181C4.36328 23.0231 5.34012 23.9999 6.54512 23.9999Z" fill="#0F265B"/>
<path d="M19.6359 23.9999C20.8409 23.9999 21.8178 23.0231 21.8178 21.8181C21.8178 20.6131 20.8409 19.6362 19.6359 19.6362C18.4309 19.6362 17.4541 20.6131 17.4541 21.8181C17.4541 23.0231 18.4309 23.9999 19.6359 23.9999Z" fill="#0F265B"/>
</g>
<defs>
<clipPath id="clip0_260_380">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
        {%- endif -%}
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
      </span>
    </a>
  </div>
</div>
